[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pillow = "*"
tqdm = "*"
umap-learn = "*"
torchaffectnet = {editable = true, path = "."}

[dev-packages]
mypy = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
